ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: pgadmin.<path:secrets/apps/data/global#DOMAIN>
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  email: <path:secrets/apps/data/pgadmin#EMAIL>
  password: <path:secrets/apps/data/pgadmin#PASSWORD>